<h1>Bem vindo ao app carteira virtual</h1>
<h3>Selecione aqui o que você deseja fazer</h3>
<ul>
    <li>
        <%= link_to "Cadastrar uma conta", new_account_path %>
    </li>  
    <li>
        <%= link_to "Visualizar usuários", accounts_path %>
    </li>
    <li>
        <%= link_to "Visualizar carteiras", wallets_path %>
    </li>
    <li>
        <%= link_to "Visualizar extratos", extracts_path %>
    </li>
</ul>